/* 
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */

body {
    margin-top: 50px;
}

.headDivider{
    width: 100%;
    font-size: 15px;
    font-weight: normal; 
    text-align: left;
    position: relative;
}

#footer{
    margin-top: 50px;
    border-top: 2px solid #CCC;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #555;
}

.produto{
    padding-bottom: 40px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF !important;
}


.owl-theme .owl-controls .owl-buttons div {
position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
left: -45px;
top: 55px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
right: -45px;
top: 55px;
}

.owl-theme .owl-controls .owl-buttons div {
    background: none !important; 
    color: #222 !important; 
    font-size: 25px !important; 
}

.missao .nav-tabs .active a {
    margin-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #777;
    font-weight: bold;
    border-bottom: 2px solid #AAA;
}

.missao .nav-tabs a {
    color: #777;
}

.missao .nav-tabs li a:focus{
    background: #FFF;
    border: 0px;
    color: #777;
}
.missao .nav-tabs li a:hover{
    background: #FFF;
    border: 0px;
    color: #777;
}

.missao .tab-content > .tab-pane{
    border: 0px !important;
}

.produtos .nav-tabs a {
    border-radius: 0;
    margin-bottom: 0;
    border: 1px solid #CCC !important;
    padding: 3px;
    color: #777;
    margin-left: 5px;
}

.produtos .nav-tabs .active a {
    background-color: #333 !important;
    color:#FFF;
}

.produtos .nav-tabs .active a:focus {
    color:#FFF;
}

.produtos .nav-tabs .active a:hover {
    color:#FFF;
}

.missao .nav-tabs li a:hover{
    background: #FFF;
    border: 0px;
    color: #777;
}

.produtos .nav-tabs{
    border-bottom: 0px !important;
}

.produtos .tab-content > .tab-pane{
    border: 0px !important;
}

.headDivider span {
  background: #fff; 
  margin-right: 15%;
  padding: 0 20px;
  color: #C00;
}

.headDivider:before {
  content: "";
  width: 100%;
  left: 0;
  top: 50%;
  position: absolute;
  z-index: -1;
  height: 0;
  border-top: 1px solid #ccc;
}

.navbar-inverse {
    background-color: #CC2129;
    border-color: #CC2129;
}

.navbar-brand{
    font-size: 13px;
    color: #FFF;
    font-weight: bold;
}

.menuLinks a{
    color: #000;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.container{
    width: 970px !important;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 5px 15px;
}

.tab-content > .tab-pane {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}

/* Table Headers */

table.tablesorter thead {
    cursor: pointer;
}

table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 464px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 464px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 464px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}