.container{
  max-width: none !important;
  width: 970px !important;
}

body{
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
    color: #ED3338;
}

.playfairDisplay{
    font-family: 'Playfair Display', serif;
}

.btnSaibaMais{
    background-color: #ED3338;
    padding: 6px;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    
}

.btnSaibaMais:hover{
    color: #FFF;
    text-decoration: none;
}


.btnSubmit{
    background-color: #333;
    padding: 6px;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    
}